<script src="{{ 'li_custom.js' | asset_url }}" type="text/javascript"></script>
<div li-element="product-variant-container" class="product-item_component" x-data="handleVariant({{ product | json | escape }}, {{ product.options_by_name | json | escape }}, {{ product.selected_or_first_available_variant | json | escape }})" x-init="$nextTick(() => { activateVariants() })" @setbundleitem.window="updateBundleItem($event.detail.product, $event.detail.quantity)">
                      <div class="product-item_image-link">
                        <a li-object:href="product.url" href="{{ product.url }}" class="product-item_image-wrapper w-inline-block"><img li-object:alt="product.featured_image.alt" loading="lazy" li-object:src="product.featured_image | image_url: width: 450" src="{{ product.featured_image | image_url: width: 450 }}" alt="{{ product.featured_image.alt }}" class="product-item_image"></a>
                        <div class="product-item_tag_list">
                          {% if product.selected_or_first_available_variant.available != true %}    <div li-if="product.selected_or_first_available_variant.available != true" class="product-item_tag">
    Not in Stock    </div>
{% endif %}
                          {% if product.compare_at_price_max > product.price %}    <div li-if="product.compare_at_price_max > product.price" class="product-item_tag is-red">
    Sale    </div>
{% endif %}
                        </div>
                      </div>
                      <div class="spacer-xxsmall"></div>
                      <a li-object:href="product.url" href="{{ product.url }}" class="product-item_text-link w-inline-block">
                        <div class="product-item_left">
                          <div li-object="product.vendor" class="text-size-small">{{ product.vendor }}</div>
                          <div li-object="product.title" class="heading-style-h4 text-weight-normal">{{ product.title }}</div>
                        </div>
                        <div class="product-item_price">
                          {% if product.compare_at_price_max > product.price %}    <div li-if="product.compare_at_price_max > product.price">
    
                            <div li-object="product.compare_at_price | money" class="text-size-regular text-style-strikethrough text-style-muted">{{ product.compare_at_price | money }}</div>
                              </div>
{% endif %}
                          <div li-object="product.price | money" class="text-size-regular">{{ product.price | money }}</div>
                        </div>
                      </a>
                      <div class="spacer-small"></div>
                      <div class="margin-top-auto">
                        <div class="product-item_form-wrapper">
                          {% if product.available == true %}    <div li-if="product.available == true">
    
                            <a li-element="add-to-cart" href="#" class="button max-width-full w-button" @click="addToCart($event, true)" :disabled="!addToCartButton">Add to Cart</a>
                              </div>
{% endif %}
                          {% if product.available != true %}    <div li-if="product.available != true">
    
                            <a href="#" class="button is-secondary pointer-events-off max-width-full w-button">Not in Stock</a>
                              </div>
{% endif %}
                        </div>
                      </div>
                    </div>
