<div class="padding-global padding-section-medium">
          <div class="container-large">
            <div class="headline-wrapper">
              <h2 class="heading-style-h2">
{{ section.settings.text_heading }}
</h2>
              <a href="{{ section.settings.url_button_link }}" class="button is-small w-button"> {{ section.settings.text_button_text }} </a>
            </div>
            <div class="blog_component">
              <div class="blog_featured-item">
                <div class="blog_featured-image-link">{% assign article = articles[section.settings.article_article] %} 
                  <a li-object:href="article.url" href="{{ article.url }}" class="blog_featured-image-wrapper w-inline-block">
                    <div class="blog_titel-wrapper">
                      <h3 li-object="article.title" class="heading-style-h4">{{ article.title }}</h3>
                      <div li-object="article.excerpt | truncate: 25" class="text-size-regular">{{ article.excerpt | truncate: 25 }}</div>
                    </div><img alt="" loading="lazy" li-object:src="article.image.src | image_url: width: 600" src="{{ article.image.src | image_url: width: 600 }}" class="blog_featured-image">
                    <div class="blog_overlay"></div>
                  </a>
                </div>
                <div id="w-node-_4d7af1cf-0c17-815b-6613-2343dbf24ae7-dbf24ad4" class="blog_two-articles">
                  {% assign blog = blogs[section.settings.blog_blog] %}
{% for article in blog.articles limit: section.settings.post_limit_blog %}
<div class="blog_featured-item-content">

                    <a li-object:href="article.url" href="{{ article.url }}" class="blog_featured-title-link w-inline-block">
                      <h3 li-object="article.title" class="heading-style-h4">{{ article.title }}</h3>
                    </a>
                    <div li-object="article.excerpt | truncate: 25" class="text-size-regular">{{ article.excerpt | truncate: 25 }}</div>
                    <div class="spacer-small"></div>
                    <a li-object:href="article.url" href="{{ article.url }}" class="button is-link is-icon w-inline-block">
                      <div>Read now</div>
                      <div class="icon-embed-xxsmall w-embed"><svg width="16" height="16" viewbox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M6 3L11 8L6 13" stroke="CurrentColor" stroke-width="1.5"></path>
                        </svg></div>
                    </a>
                  </div>
{% endfor %}
                </div>
              </div>
            </div>
          </div>
        </div> {% schema %} {
    "tag": "section",
    "name": "Blog posts",
    "class": "section_blog",
    "settings": [
        {
            "id": "text_heading",
            "type": "text",
            "label": "Heading",
            "default": "Short heading here"
        },
        {
            "id": "text_button_text",
            "type": "text",
            "label": "Button-Text",
            "default": "All Articles"
        },
        {
            "id": "url_button_link",
            "type": "url",
            "label": "Button-Link"
        },
        {
            "id": "article_article",
            "type": "article",
            "label": "Article"
        },
        {
            "id": "blog_blog",
            "type": "blog",
            "label": "Blog"
        },
        {
            "id": "post_limit_blog",
            "type": "range",
            "label": "Posts Blog",
            "min": 1,
            "max": 100,
            "step": 1,
            "default": 3
        }
    ],
    "presets": [
        {
            "name": "Blog posts",
            "category": "Liquify",
            "blocks": []
        }
    ]
} {% endschema %}