<div class="login_component">
          <div id="w-node-_175fd21a-17bf-bcb4-c19e-9a679b16ea24-9b16ea22" class="login_left">
            <div data-duration-in="300" data-duration-out="100" id="w-node-_175fd21a-17bf-bcb4-c19e-9a679b16ea25-9b16ea22" data-current="Tab 1" data-easing="ease" class="login_tabs w-tabs">
              <div class="login_tab-content w-tab-content">
                <div data-w-tab="Tab 1" class="login_tab-pane w-tab-pane w--tab-active">
                  <div class="login_form w-form">
                    <h1 class="heading-style-h2 text-align-center">
{{ section.settings.text_login }}
</h1>
                    {% form 'customer_login', return_to: '/account', class: 'form_form' %}
{% if form.errors %}    <div li-if="form.errors" class="form_error-message">
    
                        <div li-object="form.errors | default_errors" class="text-size-regular text-color-red text-align-center">{{ form.errors | default_errors }}</div>
                          </div>
{% endif %}
                      <div class="form_field-wrapper"><label for="field-4" class="form_hidden-label">Email Address</label><input class="form_input w-input" maxlength="256" name="customer[email]" data-name="Field 4" placeholder="Email Address" type="email" id="field-4"></div>
                      <div class="form_field-wrapper"><label for="field-4" class="form_hidden-label">Password</label><input class="form_input w-input" maxlength="256" name="customer[password]" data-name="Field 4" placeholder="Password" type="password" id="field-4" required=""></div><input type="submit" data-wait="Please Wait" id="w-node-_175fd21a-17bf-bcb4-c19e-9a679b16ea37-9b16ea22" class="button max-width-full w-button" value="Login">
                    {% endform %}
                    <div class="text-size-regular text-align-center"><span>
{{ section.settings.text_no_account_yet }}
</span>
                      <a href="{{ routes.account_register_url }}" li-object:href="routes.account_register_url" class="text-style-link text-weight-bold">Register now</a>
                    </div>
                    <div class="w-form-done">
                      <div>Thank you! Your submission has been received!</div>
                    </div>
                    <div class="login_hinweis-kachel w-form-fail">
                      <div>Oops! Something went wrong while submitting the form.</div>
                    </div>
                  </div>
                </div>
                <div data-w-tab="Tab 2" class="login_tab-pane w-tab-pane">
                  <div class="login_form w-form">
                    <h2 class="heading-style-h2 text-align-center">
{{ section.settings.text_reset_password }}
</h2>
                    <p class="text-size-regular text-align-center">
{{ section.settings.text_password_text }}
</p>
                    {% form 'recover_customer_password', class: 'form_form' %}
<div class="form_field-wrapper"><label for="field-4" class="form_hidden-label">Email Address</label><input class="form_input w-input" maxlength="256" name="email" data-name="Field 4" placeholder="Email Address" type="email" id="field-4"></div><input type="submit" data-wait="Please wait..." class="button max-width-full w-button" value="Reset">
                    {% endform %}
                    <div class="w-form-done">
                      <div>Thank you! Your submission has been received!</div>
                    </div>
                    <div class="w-form-fail">
                      <div>Oops! Something went wrong while submitting the form.</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="login_tab-menu w-tab-menu">
                <a data-w-tab="Tab 1" class="login_tab-link w-inline-block w-tab-link w--current">
                  <div class="text-style-link text-weight-bold">Login</div>
                </a>
                <a data-w-tab="Tab 2" class="login_tab-link w-inline-block w-tab-link">
                  <div><span>
{{ section.settings.text_forgot_password }}
</span> <span class="text-style-link text-weight-bold">Rest now!</span></div>
                </a>
              </div>
            </div>
          </div>
          <div id="w-node-_175fd21a-17bf-bcb4-c19e-9a679b16ea5d-9b16ea22" class="login_image-wrapper">{% if section.settings.image_bild %}
{{ section.settings.image_bild | image_url: width: 800 | image_tag: loading: 'lazy', id: 'w-node-_175fd21a-17bf-bcb4-c19e-9a679b16ea5e-9b16ea22', class: 'login_image' }}
{% else %}
<img src="{{ 'hero-apparel-1.svg' | asset_url }}" loading="lazy" id="w-node-_175fd21a-17bf-bcb4-c19e-9a679b16ea5e-9b16ea22" alt="" class="login_image">
{% endif %}</div>
        </div> {% schema %} {
    "tag": "section",
    "name": "Login",
    "class": "section_login",
    "settings": [
        {
            "id": "text_login",
            "type": "text",
            "label": "Login",
            "default": "Login"
        },
        {
            "id": "text_no_account_yet",
            "type": "text",
            "label": "No Account yet",
            "default": "No Account yet?"
        },
        {
            "id": "text_reset_password",
            "type": "text",
            "label": "Reset Password",
            "default": "Reset Password"
        },
        {
            "id": "text_password_text",
            "type": "text",
            "label": "Password Text",
            "default": "In order to receive a new password, you need to enter your email address below, and we will send you an email with further instructions immediately."
        },
        {
            "id": "text_forgot_password",
            "type": "text",
            "label": "Forgot password",
            "default": "Forgot password?"
        },
        {
            "id": "image_bild",
            "type": "image_picker",
            "label": "Bild"
        }
    ],
    "presets": [
        {
            "name": "Login",
            "category": "Liquify",
            "blocks": []
        }
    ],
    "enabled_on": {
        "templates": [
            "customers\/login"
        ]
    }
} {% endschema %}