<div class="login_component">
          <div id="w-node-_020413c5-8dec-2c46-93a1-274ba44a608a-a44a6088" class="login_left">
            <div id="w-node-_020413c5-8dec-2c46-93a1-274ba44a608b-a44a6088" class="login_tabs">
              <div class="login_form w-form">
                <h1 class="heading-style-h2 text-align-center">
{{ section.settings.text_create_account }}
</h1>
                {% form 'create_customer', return_to: '/', class: 'form_form' %}
{% if form.errors %}    <div li-if="form.errors" class="form_error-message">
    
                    <div li-object="form.errors | default_errors" class="text-size-regular text-color-red text-align-center">{{ form.errors | default_errors }}</div>
                      </div>
{% endif %}
                  <div class="form_field-wrapper"><label for="field-5" class="form_hidden-label">First Name</label><input class="form_input w-input" maxlength="256" name="customer[first_name]" data-name="Field 5" placeholder="First Name" type="text" id="field-5" required=""></div>
                  <div class="form_field-wrapper"><label for="field-5" class="form_hidden-label">Last Name</label><input class="form_input w-input" maxlength="256" name="customer[last_name]" data-name="Field 5" placeholder="Last Name" type="text" id="field-5" required=""></div>
                  <div class="form_field-wrapper"><label for="field-5" class="form_hidden-label">Email Address</label><input class="form_input w-input" maxlength="256" name="customer[email]" data-name="Field 5" placeholder="Email Address" type="email" id="field-5" required=""></div>
                  <div class="form_field-wrapper"><label for="field-5" class="form_hidden-label">Password</label><input class="form_input w-input" maxlength="256" name="customer[password]" data-name="Field 5" placeholder="Password" type="password" id="field-5" required=""></div><label class="w-checkbox form_checkbox"><input type="checkbox" name="" data-name="" required="" class="w-checkbox-input form_checkbox-icon"><span class="form_checkbox-label w-form-label">
{{ section.settings.text_checkbox_legal }}
</span></label><label class="w-checkbox form_checkbox"><input type="checkbox" name="customer[accepts_marketing]" data-name="" class="w-checkbox-input form_checkbox-icon"><span class="form_checkbox-label w-form-label">
{{ section.settings.text_checkbox_marketing }}
</span></label><input type="submit" data-wait="Please wait" id="w-node-_020413c5-8dec-2c46-93a1-274ba44a60ab-a44a6088" class="button max-width-full w-button" value="Register now">
                {% endform %}
                <div class="text-size-regular text-align-center"><span>
{{ section.settings.text_already_have_an_account }}
</span>
                  <a href="{{ routes.account_login_url }}" li-object:href="routes.account_login_url" class="text-style-link text-weight-bold">Login now</a>
                </div>
                <div class="hide w-form-done">
                  <div>Thank you! Your submission has been received!</div>
                </div>
                <div class="hide w-form-fail">
                  <div>Oops! Something went wrong while submitting the form.</div>
                </div>
              </div>
            </div>
          </div>
          <div id="w-node-_020413c5-8dec-2c46-93a1-274ba44a60b6-a44a6088" class="login_image-wrapper">{% if section.settings.image_bild %}
{{ section.settings.image_bild | image_url: width: 800 | image_tag: loading: 'lazy', id: 'w-node-_020413c5-8dec-2c46-93a1-274ba44a60b7-a44a6088', class: 'login_image' }}
{% else %}
<img src="{{ 'hero-apparel-1.svg' | asset_url }}" loading="lazy" id="w-node-_020413c5-8dec-2c46-93a1-274ba44a60b7-a44a6088" alt="" class="login_image">
{% endif %}</div>
        </div> {% schema %} {
    "tag": "section",
    "name": "Register",
    "class": "section_login",
    "settings": [
        {
            "id": "text_create_account",
            "type": "text",
            "label": "Create Account",
            "default": "Create Account"
        },
        {
            "id": "text_checkbox_legal",
            "type": "text",
            "label": "Checkbox Legal",
            "default": "Checkbox Legal"
        },
        {
            "id": "text_checkbox_marketing",
            "type": "text",
            "label": "Checkbox Marketing",
            "default": "Checkbox Marketing"
        },
        {
            "id": "text_already_have_an_account",
            "type": "text",
            "label": "Already have an Account",
            "default": "Already have an Account?"
        },
        {
            "id": "image_bild",
            "type": "image_picker",
            "label": "Bild"
        }
    ],
    "presets": [
        {
            "name": "Register",
            "category": "Liquify",
            "blocks": []
        }
    ],
    "enabled_on": {
        "templates": [
            "customers\/register"
        ]
    }
} {% endschema %}