<div class="swiper is-rolex-hero">
          <div class="swiper-wrapper max-width-full">
            <div class="swiper-slide is-rolex-hero">{% if section.settings.image_image_slide_1 %}
{{ section.settings.image_image_slide_1 | image_url: width: 1000 | image_tag: class: 'hero-swiper-image', sizes: '(max-width: 1920px) 100vw, 1920px', loading: 'lazy' }}
{% else %}
 {{ 'detailed-apparel-1' | placeholder_svg_tag: 'hero-swiper-image' }} 
{% endif %}
              <div class="swiper-hero-content-wrap">
                <div id="w-node-e74c4a6a-0bdb-e10b-9824-ad4acffabde5-cffabddf" class="swiper-hero-content">
                  <div class="margin-bottom margin-xxsmall">
                    <div class="subheading">
{{ section.settings.text_subheading_slide_1 }}
</div>
                  </div>
                  <h1>
{{ section.settings.text_heading_slide_1 }}
</h1>
                  <div class="margin-top margin-small">
                    <a href="{{ section.settings.url_button_link_slide_1 }}" class="button is-rolex w-button"> {{ section.settings.text_button_text_slide_1 }} </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide is-rolex-hero">{% if section.settings.image_image_slide_2 %}
{{ section.settings.image_image_slide_2 | image_url: width: 1000 | image_tag: class: 'hero-swiper-image', sizes: '(max-width: 1920px) 100vw, 1920px', loading: 'lazy' }}
{% else %}
 {{ 'detailed-apparel-1' | placeholder_svg_tag: 'hero-swiper-image' }} 
{% endif %}
              <div class="swiper-hero-content-wrap">
                <div id="w-node-e74c4a6a-0bdb-e10b-9824-ad4acffabdf1-cffabddf" class="swiper-hero-content">
                  <div>
                    <div class="subheading">
{{ section.settings.text_subheading_slide_2 }}
</div>
                  </div>
                  <h1>
{{ section.settings.text_heading_slide_2 }}
</h1>
                  <div class="margin-top margin-small">
                    <a href="{{ section.settings.url_button_link_slide_2 }}" class="button is-rolex w-button"> {{ section.settings.text_button_text_slide_2 }} </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide is-rolex-hero">{% if section.settings.image_image_slide_3 %}
{{ section.settings.image_image_slide_3 | image_url: width: 1000 | image_tag: class: 'hero-swiper-image', sizes: '(max-width: 1920px) 100vw, 1920px', loading: 'lazy' }}
{% else %}
 {{ 'detailed-apparel-1' | placeholder_svg_tag: 'hero-swiper-image' }} 
{% endif %}
              <div class="swiper-hero-content-wrap">
                <div id="w-node-e74c4a6a-0bdb-e10b-9824-ad4acffabdfd-cffabddf" class="swiper-hero-content">
                  <div>
                    <div class="subheading">
{{ section.settings.text_subheading_slide_3 }}
</div>
                  </div>
                  <h1>
{{ section.settings.text_heading_slide_3 }}
</h1>
                  <div class="margin-top margin-small">
                    <a href="{{ section.settings.url_button_link_slide_3 }}" class="button is-rolex w-button"> {{ section.settings.text_button_text_slide_3 }} </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-buttons-wrap">
            <div class="swiper-arrow-rolex swiper-button-prev">
              <div class="swiper-icon-rolex w-embed"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--ic" width="100%" height="100%" preserveaspectratio="xMidYMid meet" viewbox="0 0 24 24">
                  <path fill="currentColor" d="M15.41 16.59L10.83 12l4.58-4.59L14 6l-6 6l6 6z"></path>
                </svg></div>
            </div>
            <div class="swiper-arrow-rolex swiper-button-next">
              <div class="swiper-icon-rolex w-embed"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--ic" width="100%" height="100%" preserveaspectratio="xMidYMid meet" viewbox="0 0 24 24">
                  <path fill="currentColor" d="M8.59 16.59L13.17 12L8.59 7.41L10 6l6 6l-6 6z"></path>
                </svg></div>
            </div>
          </div>
          <div class="swiper-pagination-wrapper swiper-pagination">
            <div class="swiper-pagination-bullet"></div>
            <div class="swiper-pagination-bullet swiper-pagination-bullet-active"></div>
          </div>
        </div>
        <div class="hide w-embed w-script">
          <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
          <script>
const swiper = new Swiper('.swiper.is-rolex-hero', {
  slidesPerView: 1,
  spaceBetween: 0,
  autoHeight: false,
  navigation: {
    nextEl: '.swiper-button-next',
    prevEl: '.swiper-button-prev',
  },
  pagination: {
    el: '.swiper-pagination', // Pagination element
    clickable: true,          // Allow clicking bullets
  },
  mousewheel: {
    forceToAxis: true
  },
  breakpoints: {
    320: { slidesPerView: 1, spaceBetween: 0 },
    576: { slidesPerView: 1, spaceBetween: 0 },
    768: { slidesPerView: 1, spaceBetween: 0 }
  }
});
</script>
        </div> {% schema %} {
    "tag": "section",
    "name": "Rolex Hero Slider",
    "class": "section-rolex-hero",
    "settings": [
        {
            "id": "image_image_slide_1",
            "type": "image_picker",
            "label": "Image (slide 1)"
        },
        {
            "id": "text_subheading_slide_1",
            "type": "text",
            "label": "Subheading (slide 1)",
            "default": "Rolex"
        },
        {
            "id": "text_heading_slide_1",
            "type": "text",
            "label": "Heading (slide 1)",
            "default": "Sky-Dweller"
        },
        {
            "id": "url_button_link_slide_1",
            "type": "url",
            "label": "Button link (slide 1)"
        },
        {
            "id": "text_button_text_slide_1",
            "type": "text",
            "label": "Button text (slide 1)",
            "default": "Button text"
        },
        {
            "id": "image_image_slide_2",
            "type": "image_picker",
            "label": "Image (slide 2)"
        },
        {
            "id": "text_subheading_slide_2",
            "type": "text",
            "label": "Subheading (slide 2)",
            "default": "Rolex"
        },
        {
            "id": "text_heading_slide_2",
            "type": "text",
            "label": "Heading (slide 2)",
            "default": "Sky-Dweller"
        },
        {
            "id": "url_button_link_slide_2",
            "type": "url",
            "label": "Button link (slide 2)"
        },
        {
            "id": "text_button_text_slide_2",
            "type": "text",
            "label": "Button text (slide 2)",
            "default": "Button text"
        },
        {
            "id": "image_image_slide_3",
            "type": "image_picker",
            "label": "Image (slide 3)"
        },
        {
            "id": "text_subheading_slide_3",
            "type": "text",
            "label": "Subheading (slide 3)",
            "default": "Rolex"
        },
        {
            "id": "text_heading_slide_3",
            "type": "text",
            "label": "Heading (slide 3)",
            "default": "Sky-Dweller"
        },
        {
            "id": "url_button_link_slide_3",
            "type": "url",
            "label": "Button link (slide 3)"
        },
        {
            "id": "text_button_text_slide_3",
            "type": "text",
            "label": "Button text (slide 3)",
            "default": "Button text"
        }
    ],
    "presets": [
        {
            "name": "Rolex Hero Slider",
            "category": "Liquify",
            "blocks": []
        }
    ]
} {% endschema %}