<div class="padding-global">
          <div class="container-large">
            <div class="rolex_header-wrap">
              <a href="#" class="rolex_header_logo w-inline-block"><img src="{{ 'Rolex-retailer-plaque-250x125_en.jpg' | asset_url }}" loading="lazy" alt=""></a>
              <div class="rolex_header-content">
                <a href="{{ section.settings.url_link_1 }}" aria-current="page" class="rolex_header_link w--current"> {{ section.settings.text_heading_1 }} </a>
                <a href="{{ section.settings.url_link_2 }}" class="rolex_header_link"> {{ section.settings.text_heading_2 }} </a>
                <a href="{{ section.settings.url_link_3 }}" class="rolex_header_link"> {{ section.settings.text_heading_3 }} </a>
                <a href="{{ section.settings.url_link_4 }}" class="rolex_header_link"> {{ section.settings.text_heading_4 }} </a>
                <a href="{{ section.settings.url_link_5 }}" class="rolex_header_link"> {{ section.settings.text_heading_5 }} </a>
                <a href="{{ section.settings.url_link_6 }}" class="rolex_header_link"> {{ section.settings.text_heading_6 }} </a>
                <a href="{{ section.settings.url_link_7 }}" class="rolex_header_link"> {{ section.settings.text_heading_7 }} </a>
              </div>
              <div data-w-id="5a4d41ad-c921-96d0-f0e1-bc1ece8e26b9" class="rolex_header-burger-wrap">
                <div>Menu</div>
                <div class="rolex_header-icon w-embed"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--ic" width="100%" height="100%" preserveaspectratio="xMidYMid meet" viewbox="0 0 24 24">
                    <path fill="currentColor" d="m7 10l5 5l5-5z"></path>
                  </svg></div>
              </div>
            </div>
          </div>
        </div>
        <div class="rolex_header-menu-wrap rolex-gradient">
          <div class="padding-global">
            <div class="container-large">
              <div class="rolex_header-menu-content">
                <a href="{{ section.settings.url_link_1 }}" aria-current="page" class="rolex_header_link w--current"> {{ section.settings.text_heading_1 }} </a>
                <a href="{{ section.settings.url_link_2 }}" class="rolex_header_link"> {{ section.settings.text_heading_2 }} </a>
                <a href="{{ section.settings.url_link_3 }}" class="rolex_header_link"> {{ section.settings.text_heading_3 }} </a>
                <a href="{{ section.settings.url_link_4 }}" class="rolex_header_link"> {{ section.settings.text_heading_4 }} </a>
                <a href="{{ section.settings.url_link_5 }}" class="rolex_header_link"> {{ section.settings.text_heading_5 }} </a>
                <a href="{{ section.settings.url_link_6 }}" class="rolex_header_link"> {{ section.settings.text_heading_6 }} </a>
                <a href="{{ section.settings.url_link_7 }}" class="rolex_header_link"> {{ section.settings.text_heading_7 }} </a>
              </div>
            </div>
          </div>
        </div>
        <div class="w-embed">
          <style>
@media only screen and (max-width: 1050px) {
  .rolex_header-content {
    display: none;
  }
  .rolex_header-burger-wrap {
      display: flex;
  }
}
</style>
        </div> {% schema %} {
    "tag": "section",
    "name": "Rolex Header",
    "class": "section-rolex_header",
    "settings": [
        {
            "id": "text_heading_1",
            "type": "text",
            "label": "Heading 1",
            "default": "Discover Rolex"
        },
        {
            "id": "url_link_1",
            "type": "url",
            "label": "Link 1"
        },
        {
            "id": "text_heading_2",
            "type": "text",
            "label": "Heading 2",
            "default": "Rolex watches"
        },
        {
            "id": "url_link_2",
            "type": "url",
            "label": "Link 2"
        },
        {
            "id": "text_heading_3",
            "type": "text",
            "label": "Heading 3",
            "default": "New Watches 2025"
        },
        {
            "id": "url_link_3",
            "type": "url",
            "label": "Link 3"
        },
        {
            "id": "text_heading_4",
            "type": "text",
            "label": "Heading 4",
            "default": "Watchmaking"
        },
        {
            "id": "url_link_4",
            "type": "url",
            "label": "Link 4"
        },
        {
            "id": "text_heading_5",
            "type": "text",
            "label": "Heading 5",
            "default": "Servicing"
        },
        {
            "id": "url_link_5",
            "type": "url",
            "label": "Link 5"
        },
        {
            "id": "text_heading_6",
            "type": "text",
            "label": "Heading 6",
            "default": "World of Rolex"
        },
        {
            "id": "url_link_6",
            "type": "url",
            "label": "Link 6"
        },
        {
            "id": "text_heading_7",
            "type": "text",
            "label": "Heading 7",
            "default": "Contact us"
        },
        {
            "id": "url_link_7",
            "type": "url",
            "label": "Link 7"
        }
    ],
    "presets": [
        {
            "name": "Rolex Header",
            "category": "Liquify",
            "blocks": []
        }
    ]
} {% endschema %}