<div class="padding-global">
          <div class="container-large">
            <div class="rolex_header-wrap">
              <a href="#" class="rolex_header_logo w-inline-block"><img src="{{ 'Rolex-retailer-plaque-250x125_en.jpg' | asset_url }}" loading="lazy" alt=""></a>
              <div class="rolex_header-content">
                <a href="{{ section.settings.url_link }}" class="rolex_header_link"> Discover Rolex </a>
                <a href="{{ section.settings.url_link }}" class="rolex_header_link"> Rolex watches </a>
                <a href="{{ section.settings.url_link }}" class="rolex_header_link"> New Watches 2025 </a>
                <a href="{{ section.settings.url_link }}" class="rolex_header_link"> Watchmaking </a>
                <a href="{{ section.settings.url_link }}" class="rolex_header_link"> Servicing </a>
                <a href="{{ section.settings.url_link }}" class="rolex_header_link"> World of rolex </a>
                <a href="{{ section.settings.url_link }}" class="rolex_header_link"> Contact us </a>
              </div>
              <div data-w-id="5a4d41ad-c921-96d0-f0e1-bc1ece8e26b9" class="rolex_header-burger-wrap">
                <div>Menu</div>
                <div class="rolex_header-icon w-embed"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--ic" width="100%" height="100%" preserveaspectratio="xMidYMid meet" viewbox="0 0 24 24">
                    <path fill="currentColor" d="m7 10l5 5l5-5z"></path>
                  </svg></div>
              </div>
            </div>
          </div>
        </div>
        <div class="rolex_header-menu-wrap rolex-gradient">
          <div class="padding-global">
            <div class="container-large">
              <div class="rolex_header-menu-content">
                <a href="#" class="rolex_header_link">Discover Rolex</a>
                <a href="#" class="rolex_header_link">Discover Rolex</a>
                <a href="#" class="rolex_header_link">Discover Rolex</a>
              </div>
            </div>
          </div>
        </div>
        <div class="w-embed">
          <style>
@media only screen and (max-width: 1160px) {
  .rolex_header-content {
    display: none;
  }
  .rolex_header-burger-wrap {
      display: flex;
  }
}
</style>
        </div> {% schema %} {
    "tag": "section",
    "name": "Rolex Header",
    "class": "section-rolex_header",
    "settings": [
        {
            "id": "url_link",
            "type": "url",
            "label": "Link"
        }
    ],
    "presets": [
        {
            "name": "Rolex Header",
            "category": "Liquify",
            "blocks": []
        }
    ]
} {% endschema %}